node_modules
.next
.turbo
dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.vercel
# Keep environment variables out of version control
.env
.env.local
.env.production
.env.development

/generated/prisma
